body {
    font-family: sans-serif;
    background-color: #000000;
    color: gray;
    text-align: center;
    padding: 0.2em;
}

.bigButton {
    padding: 2em;
    border-radius: 0.5em;
    border: none;
    background-color: gray;
    font-weight: bold;
    color: white
}

.mainContent {
    margin: auto;
    text-align: center;
    border-radius: 0.5em;
    max-width: 50em;
    background-color: #353535;
    padding: 3em;
    color: #fff;
}

.footer {
    padding: 0.5em;
}

.footer a {
    color: gray
}